/*
Colors used:
Muser Teal: #2DB7BF
Ink Blue: #000517
Slate Gray: #A8ACBB
Off-white: #F5F5F6
*/


* {
  box-sizing: border-box;
}

header {
  padding: 10px 0 4px;
  background-color: #E8EAF0;
  -webkit-box-shadow: 0px 6px 4px 0px rgba(48, 50, 50, 0.75);
  -moz-box-shadow:    0px 6px 4px 0px rgba(48, 50, 50, 0.75);
  box-shadow:         0px 6px 4px 0px rgba(48, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding: 200px 0 50px 0;
}

body {
  background-color: #FFFFFF;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.6;
  color: #007E3A;
}

h3 {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

h4 {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

footer {
  border-top: 1px solid #000000;
  padding: 0 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

a:visited, a:active {
  color: #007E3A;
}

a:hover {
  color: #73B893;
  text-decoration: underline;
}

a.button {
  display: inline-block;
  background-color: #007E3A;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  opacity: 0.4s;
  text-decoration: none;
}

a.button:hover {
  background-color: #73B893;
  transition: width 2s linear 1s;
  opacity: 0.8;
}

a.button.contact {
  background-color: transparent;
  color: #007E3A;
  border: 1px solid #000000;
  border-bottom: 3px solid #000000;
  opacity: 0.4s;
}

a.button.contact:hover {
  background-color: #73B893;
  color: #FFFFFF;
  transition: width 2s linear 1s;
  opacity: 0.8;
}

a.social-media-icon svg {
  width: 32px;
}

.logo img {
  max-width: 200px;
}


/* NAV STYLINGS */

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  color: #007E3A;
}

nav > ul > li > a:visited {
  color: #007E3A;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #73B893;
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #007E3A;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  padding-top: 25px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 40px 0;
}

.intro {
  font-size: 25px;
}

#hero {
  display: inline-block;
  width: 100%;
}

#headshot {
  max-width: 500px;
}


/* MUSER page stylings */
.table_of_contents {
  list-style-type: none;
}

ul.table_of_contents a {
  font-weight: 300;
  color: #000517;
}

ul.table_of_contents a:hover {
  color: #2DB7BF;
  text-decoration: underline;
}

.muser_h1 {
  color: #000517;
}

.muser_h2 {
  color: #2DB7BF;
  padding: 50px 0 30px 0;
}

.muser_h3, .muser_h4 {
  color: #000517;
  padding: 20px 0;
}

.row_picture {
  padding: 75px 0px;
}

#problem_statement {
  padding: 30px;
  background-color: #A8ACBB;
  font-weight: 500;
}


/* media queries */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 30px;
  }

  body {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  .row {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .col-lg-6 {
    width: 50%;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .logo img {
    width: 265px;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

}

@media only screen and (min-width: 1024px) {
  .row {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .col-lg-6 {
    width: 50%;
  }

}

@media only screen and (min-width: 1440px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
}

.music-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {fill: #6C63FF;}
  to {fill: #2DB7BF;}
}

.notes {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes rotation {
  from {transform: rotate(0deg)}
  to {transform: rotate(90deg)}
}

.notes-move {
  animation: 8s rotation infinite alternate linear;
}
